<!-- public/blog/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="https://ExoTheWicker.wtf/assets/css/main.css"/>

  <style>
    /* Add your styles here */
    body {
      display: flex;
    }

    .nav-sidebar {
      width: 200px; /* Adjust the width as needed */
    }

    .blog-content {
      flex: 1;
      padding-left: 20px; /* Add some padding for spacing */
    }
  </style>
</head>
<body>
    <div class="nav-sidebar">
        <% Object.keys(groupedLinks).forEach((category) => { %>
          <h2><%= category %></h2>
          <ul>
            <% groupedLinks[category].forEach((link) => { %>
              <li><a href="<%= link.url %>"><%= link.title %></a></li>
            <% }); %>
          </ul>
        <% }); %>
              </div>


              <div class="blog-content">
                <h1>Blog Posts</h1>
              
                <% for (const post of posts) { %>
                  <div>
                    <h2><a href="/blog/post/<%= post.id %>"><%= post.title %></a></h2>
                    <p><%= post.content %></p>
                    <p>Published on <%= post.created_at %></p>
                  </div>
                <% } %>
              </div>


</body>
</html>
