<!-- public/blog/post.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= post.title %></title>
  <link rel="stylesheet" href="../../assets/css/main.css"/>
  <style>

  </style>
</head>
<body>
  <div class="nav-sidebar">
    <% Object.keys(groupedLinks).forEach((category) => { %>
      <h2><%= category %></h2>
      <ul>
        <% groupedLinks[category].forEach((link) => { %>
          <li><a href="<%= link.url %>"><%= link.title %></a></li>
        <% }); %>
      </ul>
    <% }); %>
  </div>

  <div class="post-content">
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <p>Published on <%= post.created_at %></p>
  </div>
</body>
</html>
